/* variable definition */
:root {
    /* Palette */
    --davys-grey: #494947ff;
    --white: #ffffffff;
    --bright-yellow-crayola: #fbb13cff;
    --cinnabar: #f24236ff;
    --tufts-blue: #2892d7ff;
    --cerulean-crayola: #00a7e1ff;
    --glaucous: #7180b9ff;
    --wisteria: #b497d6ff;
    --wisteria-2: #c490d1ff;
}

body {
    background: var(--white);
    margin: 0;
    padding: 0;
    color: var(--davys-grey);
}

header {
    overflow: hidden;
    text-align: center;
    background: var(--wisteria-2);
    color: var(--white);
    font-size: 30px;
    margin-bottom: 40px;
}

h1 {
    color: var(--white);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center; 
}

#menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: var(--davys-grey);
}

#menu li {
    display: inline;
}

#menu a {
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
}

#menu a:hover {
    background-color: var(--wisteria-2);
}

main {
    margin: auto;
    border-radius: 25px;
    border: 2px solid var(--wisteria-2);
    padding: 20px;
    width: 700px;
    height: 580px;
    word-wrap: break-word;
}

#welcome {
    margin-bottom: 60px;
    border-bottom: 5px solid var(--wisteria);
}
#welcome p {
    color: var(--davys-grey);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 10;
    margin-top: -50px;
    text-align: center;
}

.greetings {
    font-size: 64px;
    color: var(--wisteria);
    text-align: center;
    text-transform: uppercase;
}

.article-header {
    color: var(--wisteria-2);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 14px;
}

main p {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 14px;
}

/* # is for IDs */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--wisteria-2);
    color: var(--white);
    text-align: center;
}